
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

html { height: 100%; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #ddd url(../images/bg.jpg) repeat top left;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

body h1{
	font-size: 2.0em;
	color: #08ad31;
	margin-bottom: 25px;
}

.container {
	width: 100%;
	position: relative;
}

.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.main {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.container > header {
	margin: 10px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}

.logo {
	height: 75px;
	background: url(../images/logo-login.png) no-repeat center;
}

.container > header h1 {
	font-size: 30px;
	line-height: 38px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #666;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

.container > header h2 {
	font-size: 14px;
	font-weight: 300;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #666;
	font-family: Cambria, Georgia, serif;
	font-style: italic;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}

nav {
	display: block;
	margin-bottom: 30px;
}
nav ul {
	list-style: none;
	font-size: 14px;
}
nav ul li {
	display: inline;
}
nav ul li a {
	display: block;
	float: left;
	padding: 3px 6px;
	color: #575c7d;
	text-decoration: none;
	font-weight: bold;
}
nav ul li a:hover {
	background: #deff90;
	color: #485e0f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 3px 6px;
	margin: 0;
	text-decoration: none;
}

div#core {
	display: block;
	clear: both;
	margin-bottom: 20px;
	margin-top: 180px;
	margin-left: 10%; 
	margin-right: 10%;
}
section#left {
	width: 47%;
	float: left;
	margin-left: 30px;
	background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-right: 4px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    padding: 10px;	
}

section#right {
	float: left;
	width: 47%;
	background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-right: 4px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    padding: 10px;
}

section#all{
	float: left;
	width: 94%;
	background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-left: 30px;
    margin-right: 4px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    padding: 10px;
}

#lista-autorizados{
	width: 100%;
}

.cop{
	text-align: center;
}

#cabecalho, #cabecalho-total{
	font-weight: bold;
	background-color: gray;
	color: white;
}

#table-nome, #table-numero{
	width: 35%;
}

 
/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

/*LISTAGEM DE AUTORIZADOS*/

#listagem-autorizados{
	width: 100%;
}

#listagem-autorizados #header{
	display: block;
	font-size: 1.2em;
	text-transform: uppercase;
}

#listagem-autorizados #header #col-nome{
	float: left;
	width: 30%;
}

#listagem-autorizados #header #col-numero{
	float: left;
	width: 25%;
}

#listagem-autorizados #header #col-operadora{
	float: left;
	width: 15%;
}

#listagem-autorizados #header #col-data-aut{
	float: left;
	width: 15%;
}

#listagem-autorizados #header #col-operacoes{
	float: left;
	width: 15%;
}

#listagem-autorizados .autorizado{
	display: block;
}

#listagem-autorizados .autorizado .col-nome, 
#listagem-autorizados .autorizado .col-numero, 
#listagem-autorizados .autorizado .col-operadora, 
#listagem-autorizados .autorizado .col-data-aut, 
#listagem-autorizados .autorizado .col-operacoes{
	padding: 5px;
}

#listagem-autorizados .autorizado .col-nome{
	float: left;
	width: 30%;
	margin-top: 7px;
}

#listagem-autorizados .autorizado .col-numero{
	float: left;
	width: 25%;
	margin-top: 7px;
}

#listagem-autorizados .autorizado .col-operadora{
	float: left;
	width: 15%;
	margin-top: 7px;
}

#listagem-autorizados .autorizado .col-data-aut{
	float: left;
	width: 15%;
	margin-top: 7px;
}

#listagem-autorizados .autorizado .col-operacoes{
	float: left;
	width: 15%;
}

.btn-edit {
	background: #80e843;
	background-image: -webkit-linear-gradient(top, #80e843, #097a1a);
	background-image: -moz-linear-gradient(top, #80e843, #097a1a);
	background-image: -ms-linear-gradient(top, #80e843, #097a1a);
	background-image: -o-linear-gradient(top, #80e843, #097a1a);
	background-image: linear-gradient(to bottom, #80e843, #097a1a);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

.btn-edit:hover {
	background: #b3f08d;
	background-image: -webkit-linear-gradient(top, #b3f08d, #20b336);
	background-image: -moz-linear-gradient(top, #b3f08d, #20b336);
	background-image: -ms-linear-gradient(top, #b3f08d, #20b336);
	background-image: -o-linear-gradient(top, #b3f08d, #20b336);
	background-image: linear-gradient(to bottom, #b3f08d, #20b336);
	text-decoration: none;
}

.btn-delete {
	background: #f53636;
	background-image: -webkit-linear-gradient(top, #f53636, #bd0a0a);
	background-image: -moz-linear-gradient(top, #f53636, #bd0a0a);
	background-image: -ms-linear-gradient(top, #f53636, #bd0a0a);
	background-image: -o-linear-gradient(top, #f53636, #bd0a0a);
	background-image: linear-gradient(to bottom, #f53636, #bd0a0a);
	-webkit-border-radius: 27;
	-moz-border-radius: 27;
	border-radius: 27px;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

.btn-delete:hover {
	background: #f57d7d;
	background-image: -webkit-linear-gradient(top, #f57d7d, #db4444);
	background-image: -moz-linear-gradient(top, #f57d7d, #db4444);
	background-image: -ms-linear-gradient(top, #f57d7d, #db4444);
	background-image: -o-linear-gradient(top, #f57d7d, #db4444);
	background-image: linear-gradient(to bottom, #f57d7d, #db4444);
	text-decoration: none;
}

/*HISTÓRICO*/
#historico{
	width: 100%;
}

#historico #header{
	display: block;
	font-size: 1.2em;
	text-transform: uppercase;
}

#historico #header #col-nome{
	float: left;
	width: 30%;
	margin: 5px 0px 5px 0px;
}

#historico #header #col-data{
	float: left;
	width: 15%;
	margin: 5px 0px 5px 0px;
}

#historico #header #col-numorigem{
	float: left;
	width: 20%;
	margin: 5px 0px 5px 0px;
}

#historico #header #col-numdestino{
	float: left;
	width: 20%;
	margin: 5px 0px 5px 0px;
}

#historico #header #col-duracao{
	float: left;
	width: 15%;
	margin: 5px 0px 5px 0px;
}

#historico #item .col-nome,
#historico #item .col-data,
#historico #item .col-numorigem,
#historico #item .col-numdestino,
#historico #item .col-duracao{
	padding: 5px;
}

#historico #item .col-nome{
	float: left;
	width: 30%;
}

#historico #item .col-data{
	float: left;
	width: 15%;
}

#historico #item .col-numorigem{
	float: left;
	width: 20%;
}

#historico #item .col-numdestino{
	float: left;
	width: 20%;
}

#historico #item .col-duracao{
	float: left;
	width: 15%;
}